body {
  background-color: ghostwhite;
  font-family: 'Permanent Marker', cursive;
}

#heroesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  justify-items: center;
}

.heroCard {
  box-shadow: -6px -6px 10px -5px;
  /* border: 1px solid red; */
  width: 350px;
  text-align: center;
  background-color: white;
}

#description {
  padding: 0 10px;
}

#title {
  font-size: 50px;
  text-align: center;
  margin: 40px;
}




